[Unit]
Description = Rotary Beacon Light controller

[Service]
ExecStart=/usr/bin/python /home/rblkeeper/rbl_keeper/main.py
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
