[Unit]
Description = Rotary Beacon Light unit controller

[Service]
ExecStart=/usr/bin/python /home/rblkeeper/rbl.py
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target